<mat-card class="card">
    <mat-card class="example-card">
        <mat-card-header>

            <mat-card-title>{{cardBlock.branch}}</mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
            <p>
                {{cardBlock.name}} {{cardBlock.roll_no}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
        </mat-card-actions>
    </mat-card>
    <!-- <mat-card-title>Block {{blockData.blockNumber}}</mat-card-title>
    <p>{{blockData.transactions | json}}</p>
    <p>PrevBlock: {{blockData.previousBlock}}</p>
    <p>Hash: {{blockData.blockHash}}</p> -->
</mat-card>